body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.container{
    height: 2400px;
    width: 100%;
   
}
.container .header-part{
    height: 800px;
    width: 90%;
    margin: 50px 100px;
    display: flex;
}
.content-part{
    height: 100%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
.content-part .heading{
    font-size: 90px;
    font-weight: 50px;
    color: white; 
    margin-left: 80px;
    
}
.content-part .cp{
    font-size: 15px;
    font-weight: 20px;
    color: white; 
    margin-left: 80px;
    

}
.content-part a button{
    height: 50px;
    width: 200px;
    background-color: red;
    font-size: 25px;
    margin-left: 80px;
   margin-top: 15px;
   border-radius: 10px;
    color: white;

    
}

.content-part .fa-angle-right{
    font-size: 25px;
    color: white;
    text-align: center;
   
}
.img-part{
    height: 100%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.img-part img{
    height: 100%;
    width: 100%;
   
}
.container .body-part{
    height: 1600px;
    width: 100%;
    background-color:white;
    margin-top: 100px;
    display: flex;
}
.container .body-part .menu-bar .hhh{
  text-align: center;
  padding-top: 20px;
}
.container .body-part .menu-bar{
    height: 330px;
    width: 25%;
    background-color: black;
   margin-top: 20px;
    margin-left: 80px;
    border-radius: 20px;
   
}
.container .body-part .menu-bar .upcoming-match{
    height: 70px;
    width: 80%;
    background-color: rgb(252, 248, 248); 
    border-radius: 10px;
    margin: 35px;
}
.container .body-part .menu-bar .all-group{
    height: 70px;
    width: 80%;
    background-color: hwb(0 96% 2%);
    border-radius: 10px;
    margin: 35px;
     
}
.container .body-part .menu-bar .blog{
    height: 70px;
    width: 80%;
    background-color: rgb(229, 46, 46); 
    border-radius: 10px;
    margin: 35px;
}
.content-bar{
    height: 1600px;
    width: 65%;
    margin-top: 15px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5px;
    column-gap: 5px;
   
}
.content-bar .contents{
    height: 400px;
    width: 300px;
    border: 2px solid rgba(153, 150, 150, 0.781);
    border-radius: 10px;
    
}
.content-bar .contents .content1{
    height: 200px;
    width: 300px; 

}
.content-bar .contents .content2{
    height: 40px;
    width: 300px; 

}
.content-bar .contents .content2 .content21{
    height: 40px;
    width: 150px; 
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100;
    border: 2px solid rgba(153, 150, 150, 0.781);
}
.content-bar .contents .content3{
    height: 85px;
    width: 300px; 

}

    

.content-bar .contents .content4{
    height: 53px;
    width: 300px; 
   
   

}
.content-bar .contents .content4 p{
    display: inline-block;
   padding-bottom: 20px;
   padding-left: 30px;
}
footer{
    height: 500px;
    width: 100%;
    background-color: black;
}